.container {
  max-width: 350px;
  margin: 40px auto;
  padding: 2em;
  border-radius: 10px;
  border: 1px solid #ddd;
  background: #d6dfeb;
  text-align: center;
  font-family: sans-serif;
}

input.input {
  width: 70%;
  padding: 0.5em;
  margin-right: 0.5em;
  border-radius: 4px;
  border: 1px solid #cccccc;
}

button {
  padding: 0.5em 1em;
  margin: 0.5em 0.2em;
  border-radius: 4px;
  border: none;
  background: #2496ed;
  color: #fff;
  cursor: pointer;
}

button:disabled {
  background: #d8d8dd;
  cursor: not-allowed;
}

.weather-card {
  margin-top: 2em;
  padding: 1em;
  border-radius: 8px;
  background: #d7dee4;
  box-shadow: 0 1px 8px #eee;
}

.forecast-card {
  margin-top: 1.5em;
  padding: 1em;
  border-radius: 8px;
  background: #f8faff;
  box-shadow: 0 1px 5px #e3e6f3;
}

.forecast-card h3 {
  margin-bottom: .5em;
}

.error {
  color: #d00;
  margin-top: 1em;
}
